body{
    margin: 0;
	background-color: white;
}

.card-container{
    margin-bottom: 20px;
    margin: auto;
    max-width: 1200px;
    padding: 0px 0px;
}

.myforms {
    position: relative;
	font-size: 25px;
	font-weight: medium;
    transform: translate(-50%, 50%);
	
}

.otherforms {
    position: relative;
	font-size: 25px;
	font-weight: medium;
    transform: translate(100%, 0%);
}

.myforms-card {
    word-break: break-all;
    overflow: hidden; 
    white-space: nowrap; /* в одну строчку */
    flex-basis: 0%;
	border-radius: 33px;
	padding: 2rem !important; 
    font-family: Montserrat;
    opacity: 0;
    transform: translate(0%, 0%);
    position: relative;
    z-index: 2;
    width: auto;
    height: auto;
    min-width: 60% !important;
    min-height: 70% !important;
    max-width: 60%;
    max-height: max-content;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(168,228,160);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeForm{
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
} 

.otherforms-card {
    overflow: hidden;
    flex-basis: 0%;
	border-radius: 33px;
	padding: 2rem !important; 
    font-family: Montserrat;
    opacity: 0;
    transform: translate(100%, 0%);
    position: relative;
    z-index: 2;
    width: auto;
    height: auto;
    min-width: 60% !important;
    min-height: 70% !important;
    max-width: 60%;
    max-height: max-content;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(168,228,160);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeForm{
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
} 


  
