{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Найти партнера</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/find_partner.css'%}" type="text/css">
</head>


<body>
  <div><h1 class="find" style = "transform: translate(35%, 1350%); color:black;">Найти партнера</h1>
    <div class="card-container">
      <div>
        <h2 class = "otherforms" style = "transform: translate(70%, -590%);">Все формы:</h2>
        {% for post in posts %}
        <div class="otherforms-card" style = "transform: translate(90%, -10%);">
            <h3>{{ post.title }}</h3>
            <p>{{ post.author.first_name }} {{ post.author.last_name }}</p>
            <p>Корт: {{ post.court }}</p>
            <p>Дата: {{ post.training_date }}</p>
            <p>Время: {{ post.training_time }}</p>
            <p>Пожелания: {{ post.preferences }}</p>
            <small>{{ post.published_at | date:"M d, Y" }}</small>
            {% if request.user.is_authenticated and request.user == post.author %}
              <p>Мой пост</p>
            {% endif %}
            {% if request.user.is_authenticated and request.user != post.author %}
              {% if request.user in post.responders.all %}
                <form method="post" action="{% url 'cancel_responder' post.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="responder_id" value="{{ request.user.id }}">
                  <button type="submit">Отменить отклик</button>
                </form>
              {% else %}
                <form method="post" action="{% url 'respond_to_post' post.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="responder_id" value="{{ request.user.id }}">
                  <button type="submit">Откликнуться</button>
                </form>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <a href="{% url 'add_post' %}" style = "transform: translate(-40%, -15000%); color:black; text-decoration:none; font-size:25px;">Создать форму</a> <!-- Кнопка "плюсик" для добавления публикации -->

  </div>

</body>
{% endblock content %}
